/**
 *  DESC: стили блока с игровым словом
 */
.b-game {
  // position: relative;
  // overflow: hidden;
  padding: 6px 0;
  
  background: #51bdd2; /* Old browsers */
  background: -moz-radial-gradient(center bottom, ellipse cover, #51bdd2 40%, #245393 100%);
  background: -webkit-gradient(center bottom, ellipse cover, color-stop(40%,#51bdd2), color-stop(100%,#245393));
  background: -webkit-radial-gradient(center bottom, ellipse cover, #51bdd2 40%,#245393 100%);
  background: -o-radial-gradient(center bottom, ellipse cover, #51bdd2 40%,#245393 100%);
  background: -ms-radial-gradient(center bottom, ellipse cover, #51bdd2 40%,#245393 100%);
  background: radial-gradient(center bottom, ellipse cover,  #51bdd2 40%,#245393 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51bdd2', endColorstr='#245393',GradientType=1 );

  // &:before {
  //   content: " ";
  //   position: absolute;
  //   top: 6px;
  //   left: 0;
  //   bottom: 6px;
  //   width: 100%;
  //   background: url(/static/img/noise.bg.png) center top repeat;
  // }
  
  &:after {
    content: " ";
    display: block;
    position: relative;
    margin-bottom: -7px;
    width: 100%;
    height: 6px;
    background: url(/static/img/round.bg.png) repeat-x center 0;
    z-index: 1; 
  }

  &__wrap {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
    color: #D1E4EC;
  }
/*
  &__sub-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    margin: 35px 0 15px;
    color: #D1E4EC;
  }
*/
  
  &__conteiner {
    min-height: 80px;
  }

  &__help-btn {
    margin: 35px 0 0;
    padding: 4px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: 10px;
    i {
      position: relative;
      left: -1px;
    }
  }

  &__word {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 71.4%; // сброс до 100% c 14px
    line-height: 0;
    .opacity(1);
    
    b, a {
      display: inline-block;
      font-weight: 400;
      background: #FFF;
      color: #2496B0;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0.055em;
      width: 1.382em;
      height: 1.382em;
      font-size: 4.4em;
      line-height: 1.382em;
      .border-radius(0.109em);
    }

    .disable {
      background: #89BFCF !important;
      background: rgba(255, 255, 255, 0.4) !important;
      color: #48A1B5;
    }
  }

  &__word-wrap {
    display: inline-block;
    position: relative;
    // text-align: left;
  }

  &__word-block a {
    cursor: pointer;
    
    &:hover {
      background: #E4F3F7;
      background: rgba(255, 255, 255, 0.85);
    }
  }

  &__clear-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: none !important;
    .opacity(0);
    
    &:link,
    &:visited {
      color: #FE5121;
      color: #DD6E37;
    }
    &:hover {
      color: saturate(#FE5121, 25%);
      color: saturate(#DD6E37, 15%);
    }
  }

  &__message {
    // display: none;
    position: absolute;
    top: -4px;
    left: -2px;
    right: -2px;
    bottom: -30px;
    .opacity(0);
    .border-radius(6px);
    
    &-text {
      position: absolute;
      bottom: 5px;
      left: 6px;
      height: 15px;
      font-size: 13px;
      line-height: 15px;
      color: #FFF;
      
      a {
        display: inline;
        background: none;
        text-transform: none;
        font-size: inherit;
        display: inline-block;
        line-height: inherit;
        width: auto;
        
        &:link, &:visited, &:hover {
          color: #FFF;
          text-decoration: underline;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__start-link {
    display: inline-block;
    font-size: 1em !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    background: none !important;
    
    &:hover b {
      background: #E4F3F7;
      background: rgba(255, 255, 255, 0.85);
      // .webkit-box-shadowadow(0 0 15px #2496B0);
    }
  }

  &__start-btn {
    text-align: center;
    margin-bottom: 40px;
  }

  &__add-btn {
    height: 60px;
    line-height: 60px;
    padding: 0 !important;
  }

  &__word-table {
    display: table;
    min-height: 145px;
    margin: 50px 0;
    width: 100%;
  }

  &__word-row {
    display: table-row;
    
    &:first-child .b-game__word-cell {
      padding-bottom: 2em;
    }
  }

  &__word-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    &:last-child {
      width: 1%;
    }
  }

  &__timer,
  &__word-add {
    display: block;
    float: right;
    width: 200px;
  }

  &__timer {
    // float: right;
    background: rgba(0, 0, 0, 0.25);
    color: #FFF;
    padding: 5px 10px;
    .border-radius(6px);
    .box-sizing(border-box);
    
    &-left, &-cell, &-separator {
      height: 50px;
    }
    
    &-left {
      float: left;
      line-height: 50px;
      font-size: 14px;
    }

    &-cell, &-separator {
      float: right;
      margin-left: 6px;
      text-align: center;

      &:last-child {
        margin-left: 0;
      }
    }

    &-cell {
      width: 45px;
    }

    &-separator, &-time {
      display: block;
      height: 33px;
      font-size: 33px;
      line-height: 33px;
    }

    &-label {
      display: block;
      margin-top: 4px;
      height: 9px;
      font-size: 9px;
      line-height: 9px;
      text-transform: uppercase;
      font-weight: 400;
    }

    &-timeout {
      display: block;
      padding: 8px;
      height: 34px;
      font-size: 13px;
      line-height: 18px;
    }

    &-end {
      display: block;
      height: 50px;
      padding: 6px 0;
      line-height: 18px;
      text-align: center;
      font-size: 13px;
      .box-sizing(border-box);
    }

    &_link:hover {
      background: rgba(0, 0, 0, 0.35);
    }
  }

  &__word-add {
    // float: right;
    // position: absolute;
    // right: 0;
    // bottom: 0;
  }

  &__active-word {
    float: right;
    color: #ACC952;
    font-size: 12px;
  }
}

/* MODS */
.b-game__word_of-day {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  
  b {
    font-size: 5.5em;
  }
}

.b-game__message {
  .opacity(0);
  &.show {
    .opacity(1);
  }
  
  &.success {
    background: #ACC952;
  }

  &.error {
    background: #DD6E37;
  }

  &.warning {
    background: #E0BE36;
  }
}


.b-game__word_input {

  .b-game__input {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 4.4em;
    
    margin: 0;
    height: 1.382em;
    line-height: 1.382em;
    z-index: 2;
    // margin: 0.191em 0;
    // height: 1em;
    // line-height: 1em;
    
    padding: 0;
    border: none;
    background: none;
    
    text-transform: uppercase;
    text-align: left;
    .border-radius(0.159em);

    // background: #FFF;
    // -webkit-box-shadow: inset 3px 3px 8px 0 #388899;
    // box-shadow: inset 3px 3px 8px 0 #388899;
    
    b {
      font-size: 1em;
      // height: 1em;
      // line-height: 1em;
      background: none;
      color: #FFF;
      text-shadow: 0 2px 1px #2D8199;
      -webkit-box-shadow: none;
      box-shadow: none;
      vertical-align: top;
    }
    
    &:focus, b:focus{
      outline: 0;
    }
  }

  b {
    position: relative;
    
    background: none;
    
    background: #48A9BC;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.175), 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.175), 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  }
}

.b-game__mask-item_hide {
  .opacity(0);
}

.b-game__clear-btn_show {
  z-index: 5;
  .opacity(1);
}

/* RESPONSIVE */
// @media only screen and (max-width: 767px) {
@media only screen and (max-width: 991px) {
  .b-game__word-table {
    margin: 30px 0;
    display: block;
    position: relative;
    min-height: 180px;
  }

  .b-game__word-row {
    display: block;
    
    &:first-child {
      margin-bottom: 2em;
    }
  }

  .b-game__word-cell {
    display: block;
    width: auto !important;
    padding: 0 !important;
    .clearfix();
  }

  .b-game__timer {
    position: absolute;
    // top: -80px;
    // left: 50%;
    bottom: 0;
    left: 25%;
    margin: 0 0 0 -100px;
    .clearfix();
  }

  .b-game__word-add {
    // position: static;
    // float: none;
    // margin: 30px auto 0;
    position: relative;
    right: 25%;
    margin: 35px -100px 0 0;
  }
}

@media only screen and (max-width: 991px) {
  .b-game__active-word {
    float: none;
    display: block;
  }
}
 
/* ANIMATION */
.b-game__start-link b {
  .transition(box-shadow 0.15s linear);
}

.b-game__word a {
  .transition(color 0.15s linear, background-color 0.15s linear);
}

.b-game__timer {
  .transition(background-color 0.15s linear);
}

.b-game__mask-item,
.b-game__clear-btn,
.b-game__message {
  .transition(opacity 0.3s linear) !important;
  // .transition(background 0.15s linear);
}
/*
.sample-show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}
 
.b-game__message.ng-hide-add, .b-game__message.ng-hide-remove {
  display:block!important;
}
 
.b-game__message.ng-hide-add.ng-hide-add-active,
.b-game__message.ng-hide-remove {
  opacity:0;
}
 
.b-game__message.ng-hide-add,
.b-game__message.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
*/
/* MOBILE */
html.touch .b-game__word-block {
  a {
    .transition(none);
    
    &:hover {
      background: #FFF;
    }
  }
}