.container {
  margin-bottom: 20px;
}

/**
 * USERWORD
 */
.word-info-frame {
  width: 100%;
  height: 400px;
  border: 1px solid #ddd;
  border-top: none;
}
.modal-lg {
  width: 950px !important;
}
.modal-title {
  text-transform: capitalize;
}
.filter {
  margin-top: 20px;
}