/**
 *  DESC: menu страницы
 */
.b-menu {
  overflow: hidden;
  text-align: center;
  padding-top: 8px;

  &__item {
    display: inline-block;
    margin: 0 15px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__item-link {
    display: inline-block;
    line-height: 16px;
    
    &:link,
    &:visited {
      color: #4DACC9;
      border-bottom: 1px solid #4DACC9;
    }
    &:hover {
      color: #ACC952;
      border-bottom-color: #ACC952;
    }
  }

  &__toggle {
    display: none;
    font-size: 24px;
    line-height: 30px;
  }
}

/* MODS */
.b-menu_type_bottom {
  text-align: right;
  padding-top: 0;
  
  .b-menu {

    &__item-link {
      &:link,
      &:visited {
        color: #FFF;
        border-bottom-color: #FFF;
      }
      &:hover {
        color: #ACC952;
        border-bottom-color: #ACC952;
      }
    }
  }
}

.b-menu_type_bottom-light {
  text-align: right;
  padding-top: 0;
}

.b-menu_submenu {
  float: left;
  width: 140px;
  text-align: left;
  padding-top: 0;

  .b-menu {

    &__item {
      display: block;
      margin: 0 0 25px;
      &:last-child {
        margin: 0;
      }
    }

    &__item-link {
      display: block;
      color: #FFF;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      background: #ACC952;
      padding: 14px 18px;
      border: none;
      .border-radius(5px);
      
      &:link,
      &:visited {
        background: #ACC952;
      }
      
      &:hover {
        background: #B6D459;
      }
    }

    &__item-link_active {
      background: #CDC5A8;
      
      &:link,
      &:visited {
        background: #CDC5A8;
      }

      &:hover {
        background: #D7CB9E;
        background: saturate(#CDC5A8, 15%);
      }
    }
  }
}

/* RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .b-menu {

    &__item {
      margin: 0 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .b-menu {
    display: block !important;
  }
}

@media only screen and (max-width: 767px) {
  .b-menu {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
    &__toggle {
      display: block;
      float: left;
      margin-right: 20px;
    }
  }
  
  .b-menu_type_bottom {
    display: block;
    font-size: 13px;
    padding-top: 0;
    width: auto;
    
    .b-menu {
    
      &__item {
        margin: 0 10px;
      }
    }
  }

  .b-menu_submenu {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    .b-menu {

      &__item {
        display: inline-block;
        margin: 0 15px 0 0;
      }

      &__item-link {
        display: inline-block;
      }
    }
  }
}


/* ANIMATION */
.b-menu__item-link {
  .transition(color 0.15s linear, border-color 0.15s linear);
}