/**
 *  DESC: всплывающее окно
 */
.b-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  
  &__block {
    position: relative;
    z-index: 10;
  }
 
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  &__window {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
  }

  &__body {
    padding: 30px 45px;
    background: #EBEFF0;
    .border-radius(10px);
  }

  &__overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    .box-sizing(border-box);
    .opacity(0);
  }

  &__title {
    color: #404040;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__close {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    border: 3px solid #FFF;
    padding: 0;
    background: #2C2C2C;
    cursor: pointer;
    z-index: 10;
    .box-sizing(content-box);
    .border-radius(50%);
    .box-shadow(0 0 3px #8D8F90);
    
    &,
    &:link,
    &:visited {
      color: #FFF;
      background: #2C2C2C;
    }

    &:hover {
      color: #FFF;
      background: #3C3C3C;
    }
  }

  &__buttons {
    *:first-child {
      margin-right: 100px;
    }
    *:last-child {
      margin-right: 0;
    }
  }

  &__field-text {
    margin-top: -15px;
    margin-bottom: 25px;
  }
}

/* MODS */
.b-modal__body_hide {
  // .opacity(0);
  visibility: hidden;
}

.b-modal__overlay_show {
  z-index: 1;
  height: auto;
  .opacity(1);
}

.b-modal_sepia {
  .b-modal {

    &__body {
      background: #FFF6C2;
    }

    &__close {
      border-color: #FFF6C2;
      
      &,
      &:link,
      &:visited {
        color: #FFF6C2;
      }

      &:hover {
        color: #FFF6C2;
      }
    }
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 767px) {
  .b-modal {

    &__close {
      .border-radius(0);
      .border-top-right-radius(10px);
      .border-bottom-left-radius(10px);
      right: 0;
      top: 0;
      // display: none;
    }

    &__window {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 479px) {
  .b-modal {
    width: 479px;
    
    &__window {
      width: 350px;
    }
  }
}

/* ANIMATION */
.b-modal__overlay {
  // .transition(opacity 0.15s linear);
}