
.animate-page-slide {
  .transition(all .25s linear);
  
  &.ng-enter {
    position: relative;
    top: -10px;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
  }

  &.ng-leave {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    top: 10px;
    opacity: 0;
  }
}

.animate-preloader {
  text-align: center;
  
  &.ng-leave {
    max-height: 75px;
    opacity: 1;
    .transition(all .25s linear);
  }
  &.ng-leave.ng-leave-active {
    max-height: 0;
    opacity: 0;
  }
}

.animate-opacity {
  opacity: 0.5;
}

.animate-modal {
  opacity: 0;
  .transition(opacity .25s linear);
  
  .b-modal__window {
    top: -10px;
    .transition(top .25s linear);
  }

  &.show {
    opacity: 1;
    .b-modal__window {
      top: 0px;
    }
  }
}

.animate-word-of-day {
  &.ng-enter {
    max-height: 80px;
    opacity: 0;
    .transition(all .25s linear);
  }
  &.ng-enter.ng-enter-active {
    max-height: 200px;
    opacity: 1;
  }
}

.animate-challenge {
  &.ng-enter {
    // max-height: 30px;
    opacity: 0;
    .transition(opacity .25s linear);
  }
  &.ng-enter.ng-enter-active {
    // max-height: 145px;
    opacity: 1;
  }
}

.animate-page-fade {
  .transition(all 25s linear);
  
  &.ng-enter {
    position: relative;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave {
    position: absolute;
    width: 100%;
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

.animate-row {
  .transition(padding .25s linear, opacity .25s linear, line-height .25s linear);

  &.ng-enter, 
  &.ng-leave,
  &.ng-enter td, 
  &.ng-leave td
  { 
    .transition(padding .25s linear, opacity .25s linear, line-height .25s linear);
  } 
   
  &.ng-enter.ng-enter-active td, 
  &.ng-leave td {
    opacity: 1 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    line-height: 14px !important;
  }
   
  &.ng-leave.ng-leave-active td,
  &.ng-enter td {
    opacity: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 0px !important;
  }
}

.animate-modal {
  display: block;
  &.ng-hide {
    display: none;
  }
}

.animate-fade {
  .transition(all .25s linear);
  
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}