/* HELP-FUNCTIONS */
@import "lesshat.less";
@import "funcs.less";

/* DEFAULT */
html, body {
  height: 100%;
}
html { 
  font-size: 62.5%;
} 
body {
  font: 300 14px/1.8em 'Open Sans', sans-serif;
  color: #7d8182;
}
button, input, textarea {
  font: 300 14px/1.8em 'Open Sans', sans-serif;
}
ul, ol, li {
  display: block;
  padding: 0;
  margin: 0;
}
p, h1, h2, h3, h4, h5 {
  margin: 0;
}
a {
  &:link, &:visited, &:hover {
    text-decoration: none;
  }
}

.g-hide {
  visibility: hidden;
  .opacity(0);
}
.g-hidden {
  display: none;
}

.g-capitalize {
  text-transform: capitalize;
}

.g-uncapitalize {
  text-transform: none;
}

@media only screen and (max-width: 767px) {
  .g-hidden-mobile {
    display: none;
  }
}

/* BEM_BLOCKS */
@import "l-grid/l-grid.less";
@import "b-preloader/b-preloader.less";
@import "b-page/b-page.less";
@import "b-list/b-list.less";
@import "b-menu/b-menu.less";
@import "b-link/b-link.less";
@import "b-btn/b-btn.less";
@import "b-text/b-text.less";
@import "b-rating/b-rating.less";
@import "b-form/b-form.less";
@import "b-modal/b-modal.less";
@import "b-tabs/b-tabs.less";
@import "b-pagination/b-pagination.less";
@import "b-notify/b-notify.less";

@import "b-game/b-game.less";
@import "b-logo/b-logo.less";
@import "b-user/b-user.less";
@import "b-sign-social/b-sign-social.less";

@import "a-page.less";
