/**
 *  DESC: highlight элементы (рейтинг)
 */
.b-rating {

  &__label {
    display: inline-block;
    padding: 5px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    margin: -5px 0;
    .border-radius(12px);
  }

  &__trophy {
    // font-size: 20px;
    // line-height: 20px;
    // margin: -5px 5px -5px 0;
    font-size: 20px;
    line-height: 20px;
    margin: 0 5px 0 0;
  }

  &__stat {
    // text-align: right;
    white-space: nowrap;
    
    span {
      display: inline-block;
      width: 45px;      
      text-align: left;
    }
  }

  &__list-trophy {

    td {
      vertical-align: top;
      white-space: normal !important;
      // padding-bottom: 10px !important;

      // &:first-child {
      //   padding-left: 15px !important;
      // }
      // &:last-child {
      //   padding-right: 15px !important;
      // }

      i {
        // line-height: 20px;
        // position: relative;
        // top: -5px;
        margin-right: 10px;
      }
    }

    tbody {

      tr:nth-child(even) {
        background: #EBEFF0 !important;
      }

      tr:nth-child(odd) {
        background: #E0EAED !important;
      }
    }
  }

  &__achievement-disabled {
    .opacity(0.5);
  }

  &__achievements-list {
    margin-top: 30px;
    i {
      margin-right: 15px;
      color: #4DACC9;
    }
  }

  &__dictionary-count {
    margin-top: 20px;
    color: #ACC952;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
    &-label {
      margin-top: 5px;
      text-align: center;
    }
  }
}

/* MODS */
.b-rating_me {
  color: #4DACC9;
  .b-rating {
    &__label {
      color: #FFF;
      background: #4DACC9;
    }
  }
}

.b-rating_gold {
  color: #E5B200;
  .b-rating {
    &__label {
      color: #FFF;
      background: #E5B200;
    }
  }
}

.b-rating_silver {
  color: #A2A6A7;
  .b-rating {
    &__label {
      color: #FFF;
      background: #A2A6A7;
    }
  }
}

.b-rating_bronze {
  color: #CE8359;
  .b-rating {
    &__label {
      color: #FFF;
      background: #CE8359;
    }
  }
}

.b-rating_top10 {
  color: #ACC952;
  .b-rating {
    &__label {
      color: #FFF;
      background: #ACC952;
    }
  }
}

.b-rating_me {
  color: #4DACC9; // дубляж чтобы перекрыть награды
}

@media only screen and (max-width: 767px) {
  .b-rating__table {
    display: block;
    
    thead, tbody, th, td, tr { 
      display: block; 
    }
    
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody {
    
      tr {
        margin-top: 15px;
        overflow: hidden;
        .border-top-left-radius(4px);
        .border-bottom-left-radius(4px);
        
        &:first-child {
          margin: 0;
        }
      }

      td {
        border: none;
        position: relative;
        padding: 8px 15px 8px 40% !important;
        text-align: left !important;
      }

      td:before { 
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 35%; 
        background: #4DACC9;
        font-size: 13px;
        color: #FFF;
        padding-top: inherit;
        padding-bottom: inherit;
        padding-right: 15px;
        white-space: nowrap;
        text-align: right;
        .box-sizing(border-box);
      }

      /*
      Label the data
      */
      td:nth-of-type(1):before { content: "Место"; }
      td:nth-of-type(2):before { content: "Игрок"; line-height: 34px; }
      td:nth-of-type(3):before { content: "Рейтинг"; }
      td:nth-of-type(4):before { content: "Слов в словаре"; }
      td:nth-of-type(5):before { content: "Награды"; }
    }
  }
}
/* ANIMATION */
// <описание CSS анимации>