/**
 *  DESC: стили футера
 */
.b-user {
  color: #FFF;
  float: right;
  
  &__link {
    display: block;
    
    &:link .b-user__login,
    &:visited .b-user__login {
      color: #4DACC9;
      border-bottom: 1px solid #4DACC9;
    }
    &:hover {
      .b-user__login {
        color: #94AD45;
        border-bottom-color: #94AD45;
      }

      .b-user__ava {
        border-color: #94AD45;
      }
    }
  }

  &__login {
    display: inline-block;
    vertical-align: bottom;
    line-height: 16px;
  }

  &__ava, &__ava-small, &__ava-mini {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    border: 3px solid #4DACC9;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    .border-radius(6px);
  }

  &__ava-small {
    border-width: 2px;
    .border-radius(4px);
  }

  &__ava-mini {
    border-width: 2px;
    .border-radius(4px);
    margin-right: 3px;
  }

  &__register-separator {
    margin: 0 5px;
  }
}

/* MODS */
.b-user_auth {
  color: inherit;
  padding-top: 10px;
}

/* RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .b-user {

    &__register-link,
    &__register-separator {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .b-user {
    margin-top: -40px;
    
    &__link {
      display: inline-block;
    }
    
    &__login {
      display: none;
    }

    &__ava, &__ava-small, &__ava-mini { 
      margin-right: 0;
    }

    &__register-link,
    &__register-separator {
      display: none;
    }
  }
}

/* ANIMATION */
.b-user__login, 
.b-user__ava {
  .transition(color 0.15s linear, border-color 0.15s linear);
}