/**
 *  DESC: стили кнопок
 */
.b-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  background: #ACC952;
  padding: 0 18px;
  color: #FFF;
  cursor: pointer;
  border: none;
  .border-radius(5px);
  
  &:link,
  &:visited {
    background: #ACC952;
  }

  &:hover {
    background: #B6D459;
    background: saturate(#ACC952, 15%);
  }

  &__icon {
    position: relative;
    bottom: -1px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 18px;
  }
}

/* MODS */
.b-btn_orange {
  background: #E0BE36;

  &:link,
  &:visited {
    background: #E0BE36;
  }

  &:hover {
    background: saturate(#E0BE36, 15%);
  }
}

.b-btn_round {
  .border-radius(100px);
}

.b-btn_big {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

.b-btn_large {
  font-size: 16px;
}

.b-btn_medium {
  font-size: 13px;
  line-height: 35px;
}

.b-btn_small {
  font-size: 13px;
  line-height: 26px;
  padding: 0 12px;
}

/* ANIMATION */
.b-btn {
  .transition(background-color 0.15s linear);
}