{% raw %}
<section class="b-page__conteiner b-page__content">
  <nav class="b-menu b-menu_submenu">
    <ul>
      <li class="b-menu__item"><a ui-sref="profile.awards" ui-sref-active="b-menu__item-link_active" class="b-menu__item-link">Мои награды</a></li>
      <li class="b-menu__item"><a ui-sref="profile.games" ui-sref-active="b-menu__item-link_active" class="b-menu__item-link">Мои игры</a></li>
      <li class="b-menu__item"><a ui-sref="profile.settings" ui-sref-active="b-menu__item-link_active" class="b-menu__item-link">Мой профиль</a></li>
    </ul>
  </nav>
  <div class="b-page__offset-conteiner">
    <div ui-view></div>
  </div>
</section>
{% endraw %}