
/**
 *  DESC: 
 */
.b-sign-social {
  display: block;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  overflow: hidden;
  margin-bottom: 20px;
  .border-radius(10px);
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__icon {
    display: inline-block;
    width: 25px;
    height: 48px;
    line-height: 44px;
    font-size: 20px;
    padding: 0 12px;
    border-right: 1px solid #FFF;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
  }

  &__block {
    margin-top: 30px;
  }
}

/* MODS */
.b-sign-social_yandex {

  &:link,
  &:visited {
    color: #7B8182;
    background: fadeout(#EE4E4E, 90%);
  }

  &:hover {
    color: #FFF;
    background: #EE4E4E;
  }

  .b-sign-social__icon,
  &:link .b-sign-social__icon,
  &:visited .b-sign-social__icon,
  &:hover .b-sign-social__icon {
    color: #FFF;
    background: #EE4E4E;
    border-right-color: darken(#EE4E4E, 10%);
  }
}

.b-sign-social_google {

  &:link,
  &:visited {
    color: #7B8182;
    background: fadeout(#E64C65, 90%);
  }

  &:hover {
    color: #FFF;
    background: #E64C65;
  }

  .b-sign-social__icon,
  &:link .b-sign-social__icon,
  &:visited .b-sign-social__icon,
  &:hover .b-sign-social__icon {
    color: #FFF;
    background: #E64C65;
    border-right-color: darken(#E64C65, 10%);
  }
}

.b-sign-social_vkontakte {

  &:link,
  &:visited {
    color: #7B8182;
    background: fadeout(#45709D, 90%);
  }

  &:hover {
    color: #FFF;
    background: #45709D;
  }

  .b-sign-social__icon,
  &:link .b-sign-social__icon,
  &:visited .b-sign-social__icon,
  &:hover .b-sign-social__icon {
    color: #FFF;
    background: #45709D;
    border-right-color: darken(#45709D, 10%);
  }
}

.b-sign-social_facebook {

  &:link,
  &:visited {
    color: #7B8182;
    background: fadeout(#3468AF, 90%);
  }

  &:hover {
    color: #FFF;
    background: #3468AF;
  }

  .b-sign-social__icon,
  &:link .b-sign-social__icon,
  &:visited .b-sign-social__icon,
  &:hover .b-sign-social__icon {
    color: #FFF;
    background: #3468AF;
    border-right-color: darken(#3468AF, 10%);
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 767px) {
  .b-sign-social {
    float: left;
    width: 48%;
    font-size: 14px;
    
    &:nth-child(odd) {
      margin-right: 4%;
    }

    &__prefix {
      display: none;
    }
    
    &__block {
      .clearfix();
    }
  }
}

/* ANIMATION */
.b-sign-social {
  .transition(color 0.15s linear, background-color 0.15s linear);
}