/**
 *  DESC: 
 */
.b-notify {
  &__informer {
    position: absolute;
    display: inline-block;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    cursor: pointer;
    
    &:link,
    &:visited {
      color: #4DACC9;
    }
    &:hover {
      color: #ACC952;
    }

    &-unread {
      margin-left: 3px;
    }
  }

  &__informer-popup {
    position: fixed;
    top: -50px;
    width: 100%;
    z-index: 100;
    height: 0;
    
    &-link {
      position: absolute;
      right: 0;
      background: #C65151;
      font-size: 16px;
      padding: 0 10px 5px;
      .border-bottom-left-radius(10px);
      .border-bottom-right-radius(10px);
      
      &:link,
      &:visited {
        color: #FFF;
      }
      &:hover {
        color: #FFF;
        background-color: saturate(#C65151, 15%);;
      }
    }
  }

  &__row {
    overflow: hidden;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    color: darken(#9A833B, 10%);
  }
  &__subtitle {
    font-size: 15px;
    margin: 0 0 0 40px;
    color: darken(#9A833B, 10%);
    text-align: left;
  }
  &__item {
    margin: 0 0 10px 40px;
    font-size: 14px;
    line-height: 18px;
    color: #9A833B;
    overflow: hidden;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__date {
    display: block;
    float: left;
    width: 30px;
    margin: 5px 10px 0 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    
    &-month {
      display: block;
    }
    &-day {
      display: block;
      font-size: 14px;
    }
  }
}

/* MODS */
.b-notify__informer_unread {
  padding: 0 5px;
  right: -5px;
  .border-radius(5px);
  
  &:link,
  &:visited {
    color: #C65151;
  }
  &:hover {
    color: saturate(#C65151, 15%);
    background: lighten(#C65151, 35%);
  }
}

/* ANIMATION */
.b-notify__informer {
  .transition(color 0.15s linear, background-color 0.15s linear);
}

/* RESPONSIVE */
@media only screen and (max-width: 767px) {
  .b-notify {
    &__informer {
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      padding: 5px 8px;
    }
  }
}