/**
 *  DESC: стили списков
 */
.b-list {
  
  &__title {
    color: #4DACC9;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    // margin-top: 40px;
    
    &-icon {
      font-size: 22px;
      margin-right: 10px;
    }

    &-sub {
      margin-left: 10px;
      font-size: 12px;
      vertical-align: bottom;
      text-transform: none !important;
    }

    &-post {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      margin-left: 10px;
    }
  }

  &__info {
    margin-top: 20px;
    font-size: 13px;
    line-height: 16px;
  }

  &__filter {
    float: right;
    font-size: 13px;
    line-height: 21px;
    // margin-top: 40px;
    color: #8C9394;
  }

  table {
    position: relative;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    // table-layout: fixed;
    
    .border-top-left-radius(4px);
    .border-top-right-radius(4px);
    
    th, td {
      padding: 0 15px;
      line-height: 14px;
      font-weight: 300;
      white-space: nowrap;
      vertical-align: middle;
      // overflow: hidden;
      // -ms-text-overflow: ellipsis;
      //     text-overflow: ellipsis;
      
      &:first-child {
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }

    .b-list__row-title {
      td, th {
        color: #157998;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    thead {
      background: #4DACC9;
      font-size: 13px;
      color: #FFF;
      text-align: left;
    }

    tbody {
      tr:nth-child(even) {
        background: #E0EAED;
      }
    }
  }
}

/* MODS */
.b-list {
  table {

    .w1p {
      width: 1%;
    }

    .w60px {
      width: 60px;
    }

    .w80px {
      width: 80px;
    }

    .w85px {
      width: 85px;
    }

    .w95px {
      width: 95px;
    }

    .w110px {
      width: 110px;
    }
  }

  &__title_upper {
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
  }
}

.b-list_column {
  overflow: hidden;
  
  .b-list {
    
    &__title, &__filter {
      margin-top: 18px;
    }
    &__title {
      font-size: 18px;
      line-height: 18px;
    }
  }

  table {
    margin-top: 8px;
  }
}

.b-list_wo-offset {
  table {
    
    th, td {
      
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.b-list_fixed {
  table {
    table-layout: fixed;
    
    th, td {
      overflow: hidden;
      -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
    }
  }
}

/* RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .b-list {

    &__title {
      // font-size: 17px;
      // line-height: 17px;
      white-space: nowrap;
      // margin-top: 30px;
      &-icon {
        // font-size: 17px;
        margin-right: 5px;
      }
    }

    &__filter {
      font-size: 12px;
      line-height: 19px;
      // margin-top: 30px;
    }

    table {
      th, td {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
        
        &:first-child {
          padding-left: 15px;
        }

        &:last-child {
          padding-right: 15px;
        }
      }
      thead {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .b-list {

    &__title {
      // font-size: 17px;
      // line-height: 17px;
      white-space: nowrap;

      &-icon {
        // font-size: 17px;
      }
    }

    &__filter {
      line-height: 13px;
    }

    table {
      margin-top: 20px;
    }
  }
}

/* ANIMATION */
// <описание CSS анимации>