@font-face {
  font-family: 'fontello';
  src: url('/static/fontello/font/fontello.eot?50527165');
  src: url('/static/fontello/font/fontello.eot?50527165#iefix') format('embedded-opentype'),
       url('/static/fontello/font/fontello.woff?50527165') format('woff'),
       url('/static/fontello/font/fontello.ttf?50527165') format('truetype'),
       url('/static/fontello/font/fontello.svg?50527165#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50527165#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-star:before { content: '\e80d'; } /* '' */
.icon-comment:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-help:before { content: '\e812'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-bell:before { content: '\e819'; } /* '' */
.icon-attention:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-cog-alt:before { content: '\e811'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-rating:before { content: '\e800'; } /* '' */
.icon-trophy-2:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-list-bullet:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-magic:before { content: '\e814'; } /* '' */
.icon-frown:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-google:before { content: '\e802'; } /* '' */
.icon-vkontakte:before { content: '\e801'; } /* '' */
.icon-user-reg:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-trophy:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80f'; } /* '' */
.icon-stopwatch:before { content: '\e81e'; } /* '' */
.icon-yandex:before { content: '\e809'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */