{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}

{% block scripts %}
  {{super()}}
{% endblock %}

{% block styles %}
  {{super()}}
  <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active">
          <a href="/">Главная</a>
        </li>
        <li>
          <a href="{{ url_for('.userword', filter='new') }}">Слова пользователей</a>
        </li>
        <li>
          <a href="{{ url_for('.user_message') }}">Отправить сообщение</a>
        </li>
        <li>
          <a href="/statistics/">Статистика</a>
        </li>
      </ul>
      <h3 class="text-muted">Словолом - Админка</h3>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Админка...</h1>
    </div>
  </div>
{% endblock %}