{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{ url_for('.static', filename='js/userword.js') }}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li>
          <a href="/">Главная</a>
        </li>
        <li class="active">
          <a href="{{ url_for('.userword', filter='new') }}">Слова пользователей</a>
        </li>
        <li>
          <a href="{{ url_for('.user_message') }}">Отправить сообщение</a>
        </li>
        <li>
          <a href="/statistics/">Статистика</a>
        </li>
      </ul>
      <h3 class="text-muted">Словолом - Админка</h3>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="btn-group btn-group-xs pull-right filter">
      <a href="{{ url_for('.userword') }}"
         class="btn btn-default {% if not filter %}btn-warning active{% endif %}">
         Все</a>
      <a href="{{ url_for('.userword', filter='new') }}"
         class="btn btn-default {% if filter == 'new' %}btn-primary active{% endif %}">
         Новые</a>
      <a href="{{ url_for('.userword', filter='apply') }}"
         class="btn btn-default {% if filter == 'apply' %}btn-success active{% endif %}">
         Добавленные</a>
      <a href="{{ url_for('.userword', filter='discard') }}"
         class="btn btn-default {% if filter == 'discard' %}btn-danger active{% endif %}">
         Отклоненные</a>
    </div>
    <h3>Слова пользователей</h3>
    <table class="table table-striped" id="userwords-list" data-action-url-tpl="{{ url_for('.userword_setaction', token='_t', action='_a') }}">
      <colgroup>
        <col style="width:1px" />
        <col style="width:20%" />
        <col style="" />
        <col style="width:20%" />
      </colgroup>
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Word</th>
          <th>Info</th>
          <th>Control</th>
        </tr>
      </thead>
      <tbody>
        {% for item in word_list %}
          <tr>
            <td>{{ loop.revindex }}</td>
            <td>{{ item.user_login }}</td>
            <td>{{ item.word }}</td>
            <td>
              <a href="javascript:voud(0)" class="btn btn-primary btn-xs js-userword-info" data-token="{{ item.token }}" data-word="{{ item.word }}">inf</a>
            </td>
            <td class="js-control">
              {% if item.is_apply %}
                <span class="label label-success">Добавлено</span>
              {% elif item.in_process == 'apply' %}
                <span class="label label-danger">Добавлено</span>
                <span class="label label-warning"><i class="glyphicon glyphicon-send"></i></span>
              
              {% elif item.is_discard %}
                <span class="label label-danger">Отклонено</span>
              {% elif item.in_process == 'discard' %}
                <span class="label label-danger">Отклонено</span>
                <span class="label label-warning"><i class="glyphicon glyphicon-send"></i></span>
              
              {% else %}
                <button type="button" class="btn btn-xs btn-success" data-action="apply" data-token="{{ item.token }}">Добавить</button>
                <button type="button" class="btn btn-xs btn-danger" data-action="discard" data-token="{{ item.token }}">Отклонить</button>
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4">Ма....</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="word-info-modal" role="dialog" data-action-url-tpl="{{ url_for('.userword_getinfo', token='_t', resource='_r') }}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="word-info-modal-title"></h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#yandex-spelling" role="tab" data-toggle="tab">Яндекс.Словари - русский язык</a></li>
            <li><a href="#yandex-meaning" role="tab" data-toggle="tab">Яндекс.Словари - энциклопедия</a></li>
            <li><a href="#dic-academic" role="tab" data-toggle="tab">Академик</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="yandex-spelling" >
              <iframe class="word-info-frame" src="" data-resource="yandex-spelling" sandbox="allow-forms allow-scripts"></iframe>
            </div>
            <div class="tab-pane" id="yandex-meaning" >
              <iframe class="word-info-frame" src="" data-resource="yandex-meaning" sandbox="allow-forms allow-scripts"></iframe>
            </div>
            <div class="tab-pane" id="dic-academic">
              <iframe class="word-info-frame" src="" data-resource="dic-academic" sandbox="allow-forms allow-scripts"></iframe>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success pull-left" data-action="apply" data-dismiss="modal">Добавить</button>
          <button type="button" class="btn btn-danger pull-left" data-action="discard" data-dismiss="modal">Отклонить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}