{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{ url_for('.static', filename='js/vendor/markdown.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/user-message.js') }}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li>
          <a href="/">Главная</a>
        </li>
        <li>
          <a href="{{ url_for('.userword', filter='new') }}">Слова пользователей</a>
        </li>
        <li class="active">
          <a href="{{ url_for('.user_message') }}">Отправить сообщение</a>
        </li>
        <li>
          <a href="/statistics/">Статистика</a>
        </li>
      </ul>
      <h3 class="text-muted">Словолом - Админка</h3>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <form class="form-horizontal" action="{{ url_for('.user_message') }}" method="post" id="um-form">
      <div class="form-group">
        <label for="um-title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" required name="title" class="form-control" id="um-title" placeholder="Title" />
        </div>
      </div>
      <div class="form-group">
        <label for="um-is_global" class="col-sm-2 control-label">Is Global</label>
        <div class="col-sm-10">
          <input type="hidden" name="is_global" value="no" disabled />
          <input type="checkbox" name="is_global" value="yes" id="um-is_global" checked />
        </div>
      </div>
      <div class="form-group">
        <label for="um-message-markup" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="message" required id="um-message-markup" rows="3"></textarea>
          <input type="hidden" id="um-message" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" >
          <div class="well well-sm" id="um-message-view"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}