/*
 *  DESC: 
 */
.b-preloader {
  display: block;
  position: relative;
  text-align: center;
  
  &__image, &__table {
    position: absolute;
    left: 50%;
    margin-left: -12px;
  }

  &__table {
    top: 90px;
  }

  &__opacity {
    .transition(opacity .25s linear);
    opacity: 1;
  }
}

.b-preloader_app {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  
  &:before,
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    top: 100px;
    left: 0;
    width: 100%;
  }
  
  &:before {
    background: #51bdd2; /* Old browsers */
    background: -moz-radial-gradient(center center, ellipse cover, #51bdd2 40%, #245393 100%);
    background: -webkit-gradient(center center, ellipse cover, color-stop(40%,#51bdd2), color-stop(100%,#245393));
    background: -webkit-radial-gradient(center center, ellipse cover, #51bdd2 40%,#245393 100%);
    background: -o-radial-gradient(center center, ellipse cover, #51bdd2 40%,#245393 100%);
    background: -ms-radial-gradient(center center, ellipse cover, #51bdd2 40%,#245393 100%);
    background: radial-gradient(center center, ellipse cover,  #51bdd2 40%,#245393 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51bdd2', endColorstr='#245393',GradientType=1 );
  }

  &:after {
    background: url(/static/img/preloader_hl.gif) center center no-repeat;
    // background: url(/static/img/noise.bg.png) center top repeat;
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 767px) {
  .b-preloader_app {

    &:before,
    &:after {
      top: 60px;
    }
  }
}


/* ANIMATION */