/**
 *  DESC: стили логотипа
 */
.b-logo {
  display: inline-block;
  float: left;
  position: relative;
  padding-left: 48px;
  color: #4DACC9;
  margin-top: 8px;
  width: 170px;
  .box-sizing(border-box);
  
  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    display: block;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 3px;
    font-weight: 400;
  }

  &__desc {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-left: 2px;
  }
}

/* MODS */
@media only screen and (max-width: 767px) {
  .b-logo {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

/* ANIMATION */
// <описание CSS анимации>