/**
 *  DESC: стили текстовых блоков
 */
.b-text {
  position: relative;
  margin-top: 20px;
  
  &:before {
    content: attr(data-bgtext);
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 60px;
    font-weight: 400;
    color: #C0DAE0;
  }

  h3 {
    margin-top: 20px;
    font-size: 18px;
  }
  
  p {
    margin-top: 10px;
    
    &:first-child {
      margin-top: 0;
    }
  }

  ol, ul {
    display: block;
    margin-top: 5px;
    padding-left: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  ul li {
    display: list-item;
    list-style: circle outside none;
  }
  ol li {
    display: list-item;
    list-style: decimal outside none;
  }

  a {
    &:link,
    &:visited {
      color: #4DACC9;
      border-bottom: 1px solid #4DACC9;
    }
    &:hover {
      color: #ACC952;
      border-bottom-color: #ACC952;
    }
  }
}

/* MODS */


/* ANIMATION */
