
/**
 *  DESC: 
 */
.b-form {
  display: block;
  position: relative;
  margin-top: 10px;
  
  &__row, &__row-buttons {
    display: block;
    position: relative;
    padding-top: 25px;
  }

  &__row-buttons {
    padding-top: 30px;
  }

  &__field, &__text, &__select, &__file {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 16px;
    font-size: 13px;
    padding: 0;
    // border: none;
    color: #7B8182;
    background: #D1E1E6;
    border: 12px solid #D1E1E6;
    
    .border-radius(5px);
    .box-sizing(border-box);
    
    &:focus {
      background: #D0E5D4;
      border-color: #D0E5D4;
      .box-shadow(none);
    }

    &_standalone {
      margin-top: 35px;
    }
  }

  &__text {
    border: none;
    padding: 5px 12px;
    height: 100px;
    resize: vertical;
  }

  &__select {
    display: block;
    width: 100%;
    height: 38px;
    border-top: none;
    border-bottom: none;
  }

  &__file {
    width: auto;
    .calc(width, ~'100% - 100px');
    
    &-btn {
      float: right;
      margin-top: -2px;
    }

    &-wrap {
      position: relative;
    }

    &-wrap:hover &-btn {
      background: #B6D459;
    }

    &-field {
      position: absolute;
      top: -2px;
      left: 0;
      display: block;
      height: 42px;
      width: 100%;
      cursor: pointer;
      .opacity(0);
    }
  }

  &__btn {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 18px;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    background: #ACC952;
    border: none;
    .border-radius(5px);
    .box-sizing(border-box);
    
    &:link,
    &:visited {
      
    }

    &:hover {
      background: #B6D459;
    }

    // preloader
    &:before {
      content: " ";
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(/static/img/preloader.gif) center no-repeat;
      .opacity(0);
    }
  }

  &__bottom-link {
    float: right;
    font-size: 13px;
    line-height: 18px;
    margin-top: 12px;
  }

  &__row-check {
    height: 0;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    line-height: 14px;
    height: 14px;
    padding: 12px;
  }

  &__text[value=''] + &__label,
  &__select[value=''] + &__label,
  &__field[value=''] + &__label {
    top: 25px;
    padding-bottom: 12px;
    color: #7B8182;
    font-size: 13px;
    cursor: text;
    pointer-events: none;
  }
  &__label,
  &__text:focus + &__label,
  &__field:focus + &__label {
    left: 0;
    top: -2px;
    padding-bottom: 0;
    color: #4DACC9;
    font-size: 12px;
    font-weight: 400;
    cursor: text;
  }

  &__message {
    &-container {
      float: right;
      position: relative;
      height: 0;
      width: 0;
    }
    &_success, &_fail {
      position: absolute;
      right: 0;
      line-height: 42px;
      white-space: nowrap;
    }
    &_success {
      color: #94AD45;
    }
    &_fail {
      color: #D74040;
    }
  }
}

/* MODS */
.b-form__field_error {
  background: #EDE0E0;
  border-color: #EDE0E0;
}
.b-form__field_error-message {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  line-height: 35px;
  font-size: 13px;
  color: #EE4E4E;
  text-align: right;
  a {
    color: #EE4E4E;
    &:link, &:visited {
      color: #EE4E4E;
      text-decoration: underline;
    }
    &:hover {
      color: #EE4E4E;
      text-decoration: none;
    }
  }
}

.b-form__btn_loading {
  position: relative;
  color: #ACC952;
  
  &:before {
    display: block;
    .opacity(1);
  }

  &:hover {
    color: #B6D459;
  }
}

/* ANIMATION */
.b-form {
  &__btn {
    .transition(color 0.15s linear, background-color 0.15s linear);
    &:before {
      .transition(opacity 0.15s linear);
    }
  }
  &__field {
    .transition(background-color 0.15s linear, border-color 0.15s linear, margin 0.15s linear);
  }
  &__label {
    .transition(top 0.15s linear, color 0.15s linear, font-size 0.15s linear);
  }
}