/**
 *  DESC: стили некоторых ссылок
 */
.b-link {

  &:link,
  &:visited {
    color: #4DACC9;
    border-bottom: 1px solid #4DACC9;
  }
  &:hover {
    color: #ACC952;
    border-bottom-color: #ACC952;
  }
}

/* MODS */
.b-link_icon {
  position: relative;
  margin-right: 10px;
  i {
    position: absolute;
    right: -10px;
  }
}

.b-link_inactive {
  &:link,
  &:visited,
  &:hover {
    color: #8C9394;
    border-bottom: none;
  }
}

.b-link_active {
  &:link,
  &:visited,
  &:hover {
    color: #ACC952;
    border-bottom: none;
  }
}

.b-link_btn {
  &:link,
  &:visited,
  &:hover {
    border: none;
  }
}

.b-link_red {

  &:link,
  &:visited {
    color: #C65151;
    border-bottom: 1px solid #C65151;
  }
  &:hover {
    color: saturate(#C65151, 15%);
    border-bottom-color: saturate(#C65151, 15%);
  }
}

/* ANIMATION */
.b-link {
  .transition(color 0.15s linear, border-color 0.15s linear);
}

/* MOBILE */
html.touch {

  .b-link:hover {
    color: #4DACC9;
    border-bottom-color: #4DACC9;
  }

  .b-link_red:hover {
    color: #C65151;
    border-bottom-color: #C65151;
  }
}