/**
 *  DESC: сетики страницы
 */
.l-grid {
  .clearfix();
  // margin: 0 -3%;
  
  &__cell {
    float: left;
    padding: 0 2%;
    .box-sizing(border-box);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

/* MODS */
.l-grid_50x50 {
  .l-grid {
    
    &__cell {
      width: 50%;
      
      &:before {
        width: 48%; //-2% padding
      }
    }
  }
}

.l-grid_60x40 {
  .l-grid {

    &__cell {
      width: 40%;
      
      &:before {
        width: 38%; //-2% padding
      }

      &:first-child {
        width: 60%;
        
        &:before {
          width: 58%; //-2% padding
        }
      }
    }
  }
}

.l-grid_highlight {
  position: relative;
  
  .l-grid__cell:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    content: " ";
    background: #EBEFF0;
    .border-radius(10px);
  }
}
// .l-grid_table {
//   display: table;
//   width: 100%;
  
//   .l-grid__cell {
//     display: table-cell;
//     float: none;
//     position: relative;
//   }
// }

/* RESPONSIVE */
@media only screen and (max-width: 767px) {

  .l-grid {
    margin: 0;
    
    &__cell {
      float: none;
      width: 100% !important;
      padding: 0 0 40px;
      
      &:before {
        display: none !important;
      }

      &:last-child {
        padding: 0;
      }
    }
  }
}

/* ANIMATION */
// <описание CSS анимации>