/**
 *  DESC: стили табов
 */
.b-tabs {

  &__list {
    position: relative;
    margin: 20px 0 -10px;
    z-index: 1;
    cursor: default;
    
    &-item {
      display: inline-block;
    }
  }

  &__link {
    line-height: 14px;
    margin-right: 5px;
    padding: 0 1px;
  }

  &__conteiner {
    position: relative;
    overflow: hidden;
  }

  &__tab {
    display: none;
    overflow: hidden;
    width: 100%;
  }
}


/* MODS */
.b-tabs__list_filter {
  float: right;
  margin: 0;
}

.b-tabs__list_upper {
  .b-tabs__link {
    text-transform: uppercase;
  }
}

.b-tabs__conteiner_offset {
  margin-top: 40px;
}

.b-tabs__tab_active {
  display: block;
}


/* ANIMATION */
.b-tabs__link {
  .transition(color 0.15s linear, border-color 0.15s linear);
}