/**
 *  DESC: постраничная навигация
 */
.b-pagination {
  display: block;
  text-align: center;
  padding-top: 10px;
  
  &__item {
    display: inline-block;
    margin: 0 5px;
  }

  &__link {
    display: inline-block;
    padding: 0 1px;
    line-height: 14px;
  }
}

/* MODS */

/* ANIMATION */
